<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="UTF-8" />
<title>Scripts</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/NavBar.css" th:href="@{/css/NavBar.css}" />
</head>
<body>
	<!-- Footer Start -->
	<div th:fragment="copyright">
		<!-- Copyright Start -->
	<div class="container-fluid copyright text-light py-4 wow fadeIn"
		data-wow-delay="0.1s">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
					&copy; <a href="#">Raj Software India Pvt. Ltd.</a>, All Right
					Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright End -->
	</div>
	<!-- Footer End -->
</body>

</html>